@font-face {
    font-family: TwitterChirpHeavy;
    src: url(../../public/fonts/chirp_heavy.otf);
}

@font-face {
    font-family: TwitterChirpBold;
    src: url(../../public/fonts/chirp_bold.otf);
}

@font-face {
    font-family: TwitterChirpMedium;
    src: url(../../public/fonts/chirp_medium.otf);
}

@font-face {
    font-family: TwitterChirpRegular;
    src: url(../../public/fonts/chirp_regular.otf);
}

@font-face {
    font-family: TwitterChirpThin;
    src: url(../../public/fonts/chirp_thin.otf);
}